html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.hide {
  display: none;
}

:root {
  --color-brand: #ec7b1a;
  --color-background: #fff;
  --color-highlight: #d0011b;
}
